<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1cbdc612-7a04-47c7-b562-d71985ec9c10/resourceGroups/midterm-publish-try1/providers/Microsoft.Web/sites/midterm-publish-try1</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://midterm-publish-try1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>midterm-publish-try1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>midterm-publish-try1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$midterm-publish-try1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>