<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/acd10584-8049-410d-a50e-174700ef5e8c/resourceGroups/WebApi-HW4-Plan/providers/Microsoft.Web/sites/WebApi-001898693</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://webapi-001898693.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>webapi-001898693.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApi-001898693</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApi-001898693</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>