/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    color: #fff;
    font-size: 11px;
    font-family: 'Tahoma';
    background: url(https://zuodahao.neocities.org/IMG_2929.JPG) no-repeat;
    background-size: 100%;
}